@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
}

img {
  width: 100%;
}

body {
  background-color: #141414;
  color: #fff;
}

main {
  max-width: 2400px;
  margin: 0 auto;
}

header {
  backdrop-filter: blur(30px);
  background-color: rgba(65, 65, 65, 0.308);
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 54px;
  align-items: center;
}

header a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  padding: 4px 8px;
  border-radius: 4px;
  transition: background-color .2s ease-in-out;
}

header a.logo {
  display: flex;
  gap: 12px;
  align-items: center;
  font-weight: bold;
  font-size: 1.6rem;
}

header .create_post_btn {
  background: linear-gradient(90deg, #05B3FF 0%, #F40058 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header nav {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
}

.user_profile {
  display: flex;
  align-items: center;
  gap: 12px;
}

.user_profile img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.active_btn {
  background-color: #05B3FF;
}

div.post {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  border-bottom: 1px solid #333;
  padding: 24px 8px;
  border-radius: 12px;
}

div.post:hover {
  background-color: #222;
}

@media screen and (min-width:767px) {
  div.post {
    grid-template-columns: .9fr 1.1fr;
  }

  header nav {
    flex-direction: row;
  }
}

div.post a {
  text-decoration: none;
  color: inherit;
}

div.post div.image img {
  border-radius: 12px;
}

div.post .texts h2 {
  font-size: 24px;
  font-weight: bold;
}

div.content {
  font-size: 20px;
}

div.content img {
  border-radius: 18px;
}

div.content h2 {
  font-weight: 900;
  font-size: 38px;
}

div.content ol,
div.content ul {
  margin: 24px;
}

.share_post_link {
  display: flex;
  gap: 12px;
  justify-content: space-evenly;
  margin-bottom: 32px;
  background-color: #222;
  padding: 32px 12px;
  border-radius: 12px;
  align-items: center;
}

.share_post_link a {
  padding: 8px 16px;
  border-radius: 12px;
  transition: all .2s ease-in-out;
}

.share_post_link a:hover {
  background-color: #05b4ff7f;
}

pre {
  text-wrap: wrap;
  width: 100%;
  overflow: scroll;
  background-color: #222;
  border-radius: 8px;
  margin: 12px 0;
  padding: 14px;
}

div.post div.texts p.info {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: .8rem;
  opacity: 0.5;
}

p.info .author {
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  margin: 12px 0;
}

p.summary {
  font-size: 1.1rem;
  line-height: 1.2;
  opacity: 0.4;
}

form.login,
form.register {
  max-width: 400px;
  margin: 0 auto;
}

form input {
  background-color: #141414;
  color: #ddd;
  display: block;
  margin-bottom: 5px;
  width: 100%;
  padding: 8px 12px;
  border: 2px solid #ddd;
  border-radius: 4px;
  margin-bottom: 18px;
}

form button {
  display: block;
  width: 100%;
  padding: 8px 12px;
  background-color: #222;
  color: #fff;
  border: none;
  border-radius: 4px;
}

form.login h1,
form.register h1 {
  margin-bottom: 12px;
  text-align: center;
}

.control-error {
  color: #F40058;
  margin-bottom: 5px;
}

button {
  margin-top: 12px;
}

div.post-page {
  margin: 0 auto;
  max-width: 840px;
  margin-left: 260px;
}

@media screen and (max-width:700px) {
  div.post-page {
    margin: 0 auto;
    padding: 20px;
  }
}


div.post-page a {
  color: #ddd;
  text-decoration: underline;
}

div.post-page h1 {
  text-align: center;
  margin-bottom: 24px;
}

div.post-page .author {
  display: block;
  text-decoration: none;
  margin-bottom: 12px;
  text-align: center;
  color: #ddd;
  opacity: 0.7;
  font-weight: 900;
}

div.post-page .author:hover {
  color: #05B3FF;
  text-decoration: underline;
}

div.post-page time {
  text-align: center;
  display: block;
  margin-bottom: 24px;
  color: #ddd;
  opacity: 0.7;
}

div.post-page div.content {
  margin: 24px 0;
  line-height: 1.8;
}

div.post-page div.edit_container {
  margin-bottom: 18px;
  display: flex;
  justify-content: center;
  gap: 14px;
  align-items: center;
}

div.post-page div.edit_container a svg,
div.edit_container button svg {
  width: 18px;
  height: 18px;
}

div.post-page div.edit_container a,
div.edit_container button {
  transition: all .5s ease-in-out;
  border: none;
  text-decoration: none;
  background-color: #333;
  color: #ddd;
  padding: 6px 12px;
  border-radius: 4px;
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 4px;
}

div.edit_container .cancel_btn {
  margin-top: 0;
}

div.post-page div.edit_container a:hover {
  background-color: #05B3FF;
  color: #141414;
}

div.edit_container .cancel_btn:hover {
  background-color: #f4005980;
}

.modal {
  top: 30vh;
  margin: 0 auto;
  background-color: #141414;
  color: #F40058;
  border-radius: 6px;
  border: 2px solid #F40058;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
  padding: 1rem;
  width: 80%;
  max-width: 40rem;
  animation: fade-slide-up 0.3s ease-out forwards;
}

.modal.loading {
  background-color: transparent;
  border: none;
  overflow: hidden;
  display: flex;
  justify-content: center;
  box-shadow: none;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.55);
}

.modal button {
  padding: 2px 16px;
  background-color: #333;
  color: #ddd;
  border: none;
  border-radius: 4px;
  margin-left: auto;
}

@keyframes fade-slide-up {
  from {
    opacity: 0;
    transform: translateY(4rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.loader {
  border: 16px solid #05B3FF;
  border-right: 16px solid #F40058;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader-post {
  border-radius: 12px;
  margin-bottom: 24px;
  background: linear-gradient(240deg, #141313, #393939);
  height: 250px;
  background-size: 120%;
  animation: gradient-animation 1s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 100% 0%;
  }

  100% {
    background-position: 0% 0%;
  }
}


div.userprofile_container .profile_wrapper {
  height: 12rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

div.profile_header {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  justify-content: space-between;
  border-bottom: 2px solid #333;
  padding-bottom: 24px;
}

div.profile_header p {
  font-weight: bold;
}

div.userprofile_container img {
  width: 12rem;
}


.card {
  width: 320px;
  padding: 20px;
  color: white;
  background: linear-gradient(#212121, #212121) padding-box,
    linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
  border: 2px solid transparent;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transform-origin: right bottom;
  transition: all 0.2s ease-in-out;
}

.card .main-content {
  flex: 1;
}

.card .header span:first-child {
  font-weight: 600;
  color: #717171;
  margin-right: 4px;
}

.card .heading {
  font-size: 24px;
  margin: 24px 0 16px;
  font-weight: 600;
}

.card .categories {
  display: flex;
  gap: 8px;
}

.card .categories span {
  background-color: #e81cff;
  padding: 4px 8px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 50em;
}

.card .footer {
  font-weight: 600;
  color: #717171;
  margin-right: 4px;
}

.card:hover {
  transform: scale(1.02);
}

@media screen and (max-width:700px) {
  .card:hover {
    transform: scale(1);
  }
}

.backgroundImg {
  background-image: url('images/blog.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

.ReactTags__selected {
  height: 4rem;
  padding: 8px;
  overflow-y: scroll;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 4px;
}

.ReactTags__tag {
  display: flex;
  align-items: center;
  width: fit-content;
  background-color: #05B3FF;
  padding: 0 8px;
  color: black;
  font-weight: 900;
  border-radius: 16px;
  margin-bottom: 4px;
}

.ReactTags__remove {
  color: black;
  padding: 2px;
  margin: 0;
}