* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

img {
  width: 100%;
}

body {
  color: #222;
}

main {
  padding: 10px;
  max-width: 700px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  margin-bottom: 54px;
  align-items: center;
}

header a {
  text-decoration: none;
  color: inherit;
}

header a.logo {
  font-weight: bold;
  font-size: 1.6rem;
}

header nav {
  display: flex;
  gap: 18px;
}

div.post {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  margin-bottom: 32px;
}

@media screen and (min-width:767px) {
  div.post {
    grid-template-columns: .9fr 1.1fr;
  }
}

div.post a {
  text-decoration: none;
  color: inherit;
}

div.post .texts h2 {
  font-size: 1.8rem;
  font-weight: bold;
}

div.post div.texts p.info {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: .8rem;
}

p.info .author {
  text-decoration: none;
  font-weight: bold;
  margin: 12px 0;
}

p.summary {
  font-size: 1.1rem;
  line-height: 1.2;
}

form.login,
form.register {
  max-width: 400px;
  margin: 0 auto;
}

form input {
  display: block;
  margin-bottom: 5px;
  width: 100%;
  padding: 8px 12px;
  border: 2px solid #ddd;
  border-radius: 4px;
  margin-bottom: 12px;
}

form button {
  display: block;
  width: 100%;
  padding: 8px 12px;
  background-color: #222;
  color: #fff;
  border: none;
  border-radius: 4px;
}

form.login h1,
form.register h1 {
  margin-bottom: 12px;
  text-align: center;
}

button {
  margin-top: 12px;
}

div.post-page div.image {
  max-height: 200px;
  overflow: hidden;
  display: flex;
}

div.post-image div.image img {
  object-fit: cover;
  object-position: center center;
}

div.post-page a {
  color: #333;
  text-decoration: underline;
}

div.post-page h1 {
  text-align: center;
  margin-bottom: 24px;
}

div.post-page .author {
  text-align: center;
  margin-bottom: 4px;
  color: #222;
  font-weight: 900;
}

div.post-page time {
  text-align: center;
  display: block;
  margin-bottom: 24px;
  color: #3333339a;
}

div.post-page div.content {
  margin: 24px 0;
}

div.post-page div.edit_container{
  text-align: center;
  margin-bottom: 18px;
}
div.post-page div.edit_container a{
  text-decoration: none;
  background-color: #333;
  color: #ddd;
  padding: 6px 12px;
  border-radius: 4px;
}